{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./src"],
        "alias": {
          "@state": "./src/state/index",
          "@atoms": "./src/components/atoms/index",
          "@molecules": "./src/components/molecules/index",
          "@screens": "./src/screens/index",
          "@constants": "./src/constants/index",
          "@routing": "./src/routing/index"
        }
      }
    ]
  ]
}
