.button-default {
    /* width: 300px;
    height: 100px; */
    border-radius: 5px;
    font-size: 20px;
}

.button-custom-primary {
    background-color: #00A878;
}

.button-custom-danger {
    background-color: #BB1121;
}

.button-custom-transparent {
    background-color: transparent;

}